<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.permissions">

    <permission
        android:name="com.example.permissions.Permission1"
        android:protectionLevel="normal" />
    <permission
        android:name="com.example.permissions.Permission2"
        android:protectionLevel="normal" />
    <permission
        android:name="com.example.permissions.Permission3"
        android:protectionLevel="normal" />
    <permission
        android:name="com.example.permissions.Permission4"
        android:label="aaa"
        android:protectionLevel="dangerous" />

    <uses-permission android:name="com.example.permissions.Permission3" />
    <uses-permission android:name="com.example.permissions.Permission4" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hello">

        <activity android:name="com.example.permissions.NoPermActivity" android:exported="true" />
        <activity android:name="com.example.permissions.PermActivity" android:exported="true" android:permission="com.example.permissions.Permission1" />
        <activity
            android:name="com.example.permissions.DangerActivity"
            android:enabled="true"
            android:exported="true"
            android:permission="com.example.permissions.Permission4" />
        <activity android:name="com.example.permissions.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.example.permissions.PermReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="com.example.permissions.Permission2"/>

    </application>

</manifest>